.navegacion{
	background: $rojo;
	position: sticky;
	top: 0;
	h1{
		margin: 0;
		text-align: center;
		color: $blanco;
		text-transform: uppercase;
	}
}
.hero{
	height: 100vh;
	img{
		height: 100vh;
		object-fit: cover;
	}
}